<link type="text/css" rel="stylesheet" href="./../../../../test_files/doctor_page_files/css.css">
<style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style>
<style type="text/css">
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
</style>
<script type="text/javascript" src="./../../../../test_files/doctor_page_files/menu174.js.download"></script>
<style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
<link rel="shortcut icon" href="https://findadoc.ariahealth.org/Content/CustomViewsContent/_Shared/images/favicon.ico">
<link href="./../../../../test_files/doctor_page_files/css(1).css" rel="stylesheet" type="text/css">
<script type="text/javascript" id="www-widgetapi-script" src="./../../../../test_files/doctor_page_files/www-widgetapi.js.download" async=""></script>
<script src="./../../../../test_files/doctor_page_files/iframe_api"></script>
<script async="" src="./../../../../test_files/doctor_page_files/analytics.js.download"></script>
<script data-num-accounts="1" id="gaScript" type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-30489380-1','auto');
	ga('send', 'pageview');
	ga('send', 'event', 'profile view', 'profile view', 'Dr. Gary A. Aaronson, D.O.');
	ga('create', 'UA-65358744-1','auto', {'name': 'Tracker1'});
	ga('Tracker1.send','pageview');
	ga('Tracker1.send', 'event', 'profile view', 'profile view', 'Dr. Gary A. Aaronson, D.O.');
</script>
<script src="./../../../../test_files/doctor_page_files/FrontEnd.min.js.download" type="text/javascript"></script>
<link href="./../../../../test_files/doctor_page_files/styles.less" rel="stylesheet" type="text/css">
<link href="./../../../../test_files/doctor_page_files/carouselX.css" rel="stylesheet" type="text/css">
<script src="./../../../../test_files/doctor_page_files/ProvCon.js.download" type="text/javascript" async=""></script>
<script src="./../../../../test_files/doctor_page_files/jquery.fontResize.js.download" type="text/javascript" defer=""></script>
<script src="./../../../../test_files/doctor_page_files/jquery.cookie.js.download" type="text/javascript" defer=""></script>
<script src="./../../../../test_files/doctor_page_files/bootstrap.min.js.download" type="text/javascript" async=""></script>
<script type="text/javascript" defer="">var addthis_pub = 'ctjud82';</script>
<script type="text/javascript" src="./../../../../test_files/doctor_page_files/widget.php" defer=""></script>
<link rel="stylesheet" type="text/css" href="./../../../../test_files/doctor_page_files/widget020.top.svg.css" media="all">
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/common.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/map.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/util.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/marker.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/geocoder.js.download"></script>
<style type="text/css">.gm-style {
	font: 400 11px Roboto, Arial, sans-serif;
	text-decoration: none;
}
.gm-style img { max-width: none; }
</style>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/onion.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/controls.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/infowindow.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../../test_files/doctor_page_files/stats.js.download"></script>

<body id="Home">
	<div id="mainContent" *ngIf="(this.as.userSubject | async)?.username">
		<div id="details" class="container singlePage">
			<div class="row paginationBar">	</div>
      <div id="physItemRef" itemscope="" itemtype="https://schema.org/Physician" itemref="person_name person_MD provimage_MD specialties_MD 
      addresses_MD practices_MD insurance_MD providerImage_MD provDescription_MD">
				<link itemprop="sameAs" href="https://www.npinumberlookup.org/getResultDetails.php?npinum=1437220837" rel="">
			</div>
      <div id="person_MD" itemprop="member" itemscope="itemscope" itemtype="https://schema.org/Person" itemref="person_name person_education 
      person_certifications person_phoneNumbers person_titles"></div>
			<div class="row">
        <h1>User Profile - Edit</h1>
				<div class="col-md-12">
					<div class="profile box clearfix">
						<div class="columnPhoto col-md-2 col-sm-2 col-xs-7">
							<div style="max-width:120px;" id="provimage_MD">
                <img src="./../../../../test_files/doctor_page_files/299.png" title=" " alt=" " class="profilePhoto" itemprop="image">
							</div>
            </div>
						<div class="profileTopData col-sm-7 col-xs-12">
              <div fxLayout fxLayoutAlign="center" style="margin: 20px 20px;">
                <mat-card fxLayout="column" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 auto">
                  <form [formGroup]="editProfileFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" #editProfileForm="ngForm">
                    <mat-form-field>
                      <mat-placeholder>First Name</mat-placeholder>
                      <input type="text" matInput id="firstname" value="{{(this.as.userSubject | async)?.firstname }}" [disabled]="isDisabled">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>Last Name</mat-placeholder>
                      <input type="text" matInput id="lastname" value="{{(this.as.userSubject | async)?.lastname }}" [disabled]="isDisabled">
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>Birthday</mat-placeholder>
                      <input matInput id="birthday"  value="{{(this.as.userSubject | async)?.birthday | date}}" [disabled]="isDisabled">   
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>Phone Number</mat-placeholder>
                      <input type="text" matInput id="phone" formControlName="phone" value="{{((this.as.userSubject | async)?.phone)| phoneFormat }}" mask="(999)999-9999" minlength="9" maxlength="13" required>
                      <mat-error *ngIf="(editProfileForm.submitted || editProfileFormGroup.get('phone').touched) && editProfileFormGroup.get('phone').invalid">
                        Phone Number is NOT valid! Please provide a phone number with length of 9.
                      </mat-error> 
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>Address 1</mat-placeholder>
                      <input type="text" matInput id="addr1" value="{{(this.as.userSubject | async)?.addr1}}" formControlName="addr1" required>
                      <mat-error *ngIf="(editProfileForm.submitted || editProfileFormGroup.get('addr1').touched) && editProfileFormGroup.get('addr1').invalid">
                        Address 1 can't be empty!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>Address 2</mat-placeholder>
                      <input type="text" matInput id="addr2" value="{{(this.as.userSubject | async)?.addr2}}" formControlName="addr2" >
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>City</mat-placeholder>
                      <input type="text" matInput id="city" value="{{(this.as.userSubject | async)?.city}}" formControlName="city" required>
                      <mat-error *ngIf="(editProfileForm.submitted || editProfileFormGroup.get('city').touched) && editProfileFormGroup.get('city').invalid">
                        City can't be empty!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="State" formControlName="state" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let s of states" value="{{s.value}}">
                          {{s.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="(editProfileForm.submitted || editProfileFormGroup.get('state').touched) && editProfileFormGroup.get('state').invalid">
                        State can't be empty!
                      </mat-error>                      
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>Zip</mat-placeholder>
                      <input type="text" matInput id="zip" value="{{(this.as.userSubject | async)?.zip}}" formControlName="zip" required>
                      <mat-error *ngIf="(editProfileForm.submitted || editProfileFormGroup.get('zip').touched) && editProfileFormGroup.get('zip').invalid">
                        Zip can't be empty!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-placeholder>Insurance</mat-placeholder>
                      <input type="text" matInput id="insurance" value="{{(this.as.userSubject | async)?.insurance}}" formControlName="insurance" required>
                      <mat-error *ngIf="(editProfileForm.submitted || editProfileFormGroup.get('insurance').touched) && editProfileFormGroup.get('insurance').invalid">
                        Insurance can't be empty!
                      </mat-error>
                    </mat-form-field>
                    <p>
                      <button type="submit" mat-raised-button color="primary">Submit</button>
                      <button type="reset" mat-raised-button color="primary">Reset</button>
                    </p>
                  </form>
                </mat-card>
              </div>
            </div>
            <div class="profileDisplayData action-btn col-sm-3 col-xs-12">
              <br>
              <div>
                <a mat-raised-button color="primary" (click)="onPatientDashboard()">Back to Profile</a>
              </div>
            </div>
					</div>
				</div>
			</div>
      <br>
      <br>
		</div>
	</div>
</body>