<link type="text/css" rel="stylesheet" href="./../../../test_files/doctor_page_files/css.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style>
<style type="text/css">
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}
@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
</style>
<script type="text/javascript" src="./../../../test_files/doctor_page_files/menu174.js.download"></script>
<style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
<link rel="shortcut icon" href="https://findadoc.ariahealth.org/Content/CustomViewsContent/_Shared/images/favicon.ico">
<link href="./../../../test_files/doctor_page_files/css(1).css" rel="stylesheet" type="text/css">
<script type="text/javascript" id="www-widgetapi-script" src="./../../../test_files/doctor_page_files/www-widgetapi.js.download" async=""></script>
<script src="./../../../test_files/doctor_page_files/iframe_api"></script>
<script async="" src="./../../../test_files/doctor_page_files/analytics.js.download"></script>
<script data-num-accounts="1" id="gaScript" type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-30489380-1','auto');
	ga('send', 'pageview');
	ga('send', 'event', 'profile view', 'profile view', 'Dr. Gary A. Aaronson, D.O.');
	ga('create', 'UA-65358744-1','auto', {'name': 'Tracker1'});
	ga('Tracker1.send','pageview');
	ga('Tracker1.send', 'event', 'profile view', 'profile view', 'Dr. Gary A. Aaronson, D.O.');
</script>
<script src="./../../../test_files/doctor_page_files/FrontEnd.min.js.download" type="text/javascript"></script>
<link href="./../../../test_files/doctor_page_files/styles.less" rel="stylesheet" type="text/css">
<link href="./../../../test_files/doctor_page_files/carouselX.css" rel="stylesheet" type="text/css">
<script src="./../../../test_files/doctor_page_files/ProvCon.js.download" type="text/javascript" async=""></script>
<script src="./../../../test_files/doctor_page_files/jquery.fontResize.js.download" type="text/javascript" defer=""></script>
<script src="./../../../test_files/doctor_page_files/jquery.cookie.js.download" type="text/javascript" defer=""></script>
<script src="./../../../test_files/doctor_page_files/bootstrap.min.js.download" type="text/javascript" async=""></script>
<script type="text/javascript" defer="">var addthis_pub = 'ctjud82';</script>
<script type="text/javascript" src="./../../../test_files/doctor_page_files/widget.php" defer=""></script>
<link rel="stylesheet" type="text/css" href="./../../../test_files/doctor_page_files/widget020.top.svg.css" media="all">
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/common.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/map.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/util.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/marker.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/geocoder.js.download"></script>
<style type="text/css">.gm-style {
	font: 400 11px Roboto, Arial, sans-serif;
	text-decoration: none;
}
.gm-style img { max-width: none; }
</style>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/onion.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/controls.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/infowindow.js.download"></script>
<script type="text/javascript" charset="UTF-8" src="./../../../test_files/doctor_page_files/stats.js.download"></script>

<body id="Home">
	<div id="mainContent" *ngIf="(this.as.userSubject | async)?.username">
		<div id="details" class="container singlePage">
			<div class="row paginationBar">		</div>
      <div id="physItemRef" itemscope="" itemtype="https://schema.org/Physician" itemref="person_name person_MD provimage_MD specialties_MD 
        addresses_MD practices_MD insurance_MD providerImage_MD provDescription_MD">
        <link itemprop="sameAs" href="https://www.npinumberlookup.org/getResultDetails.php?npinum=1437220837" rel="">
      </div>
      <div id="person_MD" itemprop="member" itemscope="itemscope" itemtype="https://schema.org/Person" itemref="person_name person_education 
      person_certifications person_phoneNumbers person_titles"></div>
      <div class="row">
        <h1>Administrater Dashboard</h1>
        <div class="col-md-12">
          <div class="profile box clearfix">
            <div class="columnPhoto col-md-2 col-sm-2 col-xs-7">
              <div style="max-width:120px;" id="provimage_MD">
                <img src="./../../../test_files/doctor_page_files/299.png" title=" " alt=" " class="profilePhoto" itemprop="image">
              </div>
            </div>

            <div class="profileTopData col-sm-7 col-xs-12">
              <div class="row">
                <div class="col-sm-7">
                  <h1 class="providerName" id="person_name">
                    <span itemprop="name">{{(this.as.userSubject | async)?.firstname }}</span>
                  </h1>
                </div>
                <!-- <div class="col-sm-5" id="person_phoneNumbers">
                  <h3>
                    <p>Role: {{(this.as.userSubject | async)?.profile[0] }}</p>
                  </h3>
                  <br>
                </div> -->
              </div>

              <div class="row space">
                <div class="col-sm-7"></div>
                <div class="profileDisplayData space">
                  <div class="col-sm-7">
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="profileDisplayData action-btn col-sm-3 col-xs-12">
              <div>
                <a mat-raised-button color="primary" (click)="onEditProfile()">Edit Profile</a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="tabs-1" class="profileTab row">
            <div class="boxHolder clearfix">
              <div class="col-md-12">
                <h2 class="tabTitle"><span aria-hidden="true"></span>Doctor List</h2>
                <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="dataSource1">
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                      <mat-cell *matCellDef="let doctor"> {{doctor.id}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let doctor"> {{doctor.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gender">
                      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                      <mat-cell *matCellDef="let doctor"> {{doctor.gender}} </mat-cell>
                    </ng-container>                    
                    <ng-container matColumnDef="specialties">
                      <mat-header-cell *matHeaderCellDef> Specialties </mat-header-cell>
                      <mat-cell *matCellDef="let doctor"> {{doctor.specialties}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="location">
                      <mat-header-cell *matHeaderCellDef> Practice Location </mat-header-cell>
                      <mat-cell *matCellDef="let doctor"> {{doctor.location}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="appointments">
                      <mat-header-cell *matHeaderCellDef> Appointment This Month </mat-header-cell>
                      <mat-cell *matCellDef="let doctor"> {{doctor.appointments}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                          <button mat-icon-button color="primary" (click)="addNew()">
                            <mat-icon>add</mat-icon>
                          </button>
                        </mat-header-cell>
                  
                        <mat-cell *matCellDef="let row; let i=index;">
                          <button mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                          </button>
                  
                          <button mat-icon-button color="primary">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </mat-cell>
                      </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1;"></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
          </div>
          <div id="tabs-2" class="profileTab row">
            <div class="boxHolder clearfix">
              <div class="col-md-12">
                <h2 class="tabTitle"><span aria-hidden="true"></span>Patient List</h2>
                <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="dataSource2">
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                      <mat-cell *matCellDef="let patient"> {{patient.id}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let patient"> {{patient.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="gender">
                      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                      <mat-cell *matCellDef="let patient"> {{patient.gender}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="age">
                        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                        <mat-cell *matCellDef="let patient"> {{patient.age}} </mat-cell>
                      </ng-container>
                    <ng-container matColumnDef="appointments">
                      <mat-header-cell *matHeaderCellDef> Total Appointment </mat-header-cell>
                      <mat-cell *matCellDef="let patient"> {{patient.appointments}} </mat-cell>
                    </ng-container>
                  <!-- actions -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button color="primary" (click)="addNew()">
                          <mat-icon>add</mat-icon>
                        </button>
                      </mat-header-cell>
                
                      <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button color="primary">
                          <mat-icon>edit</mat-icon>
                        </button>
                
                        <button mat-icon-button color="primary">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
                        <mat-cell *matCellDef="let patient"> {{patient.actions}}
                        </mat-cell>
                      </ng-container>-->
                    <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                  </mat-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>