<div id="footer">
  <table style="float: right; padding-left: 40px" cellspacing="2" border="0">
    <tbody>
    <tr>
      <td><a target="_blank" onclick="_gaq.push([trackEvent,Footer, social, FB]);" href="http://facebook.com/ariahealth"><img alt="Facebook" src="./test_files/icon_sm_facebook.png"></a></td>
      <td><a target="_blank" onclick="_gaq.push([_trackEvent, Footer, social, TW]);" href="http://twitter.com/#!/ariahealth"><img alt="Twitter" src="./test_files/icon_sm_twitter.jpg"></a></td>
      <td><a target="_blank" onclick="_gaq.push([_trackEvent, Footer, social, YT]);" href="http://www.youtube.com/ariahealthsocial"><img alt="YouTube" src="./test_files/icon_sm_youtube.jpg"></a></td>
      <td><a target="_blank" onclick="_gaq.push([_trackEvent, Footer, social, LI]);" href="http://www.linkedin.com/company/aria-health"><img alt="LinkedIn" src="./test_files/icon_sm_linkedin.jpg"></a></td>
      <td><a target="_blank" onclick="_gaq.push([_trackEvent, Footer, social, INS]);" href="http://instagram.com/ariahealth"><img alt="Instagram" src="./test_files/icon_sm_instagram.png"></a></td>
      <!--
        <td><a target="_blank" onclick="_gaq.push(['_trackEvent', 'Footer social', 'FS']);" href="https://foursquare.com/v/aria-health-frankford-campus/4b76e86ef964a52053692ee3"><img alt="FourSquare" src="assets/base/2010/images/icon_sm_foursquare.jpg" /></a></td>
      -->
      <td><a target="_blank" onclick="_gaq.push([_trackEvent, Footer, social, GPlus]);" href="https://plus.google.com/u/0/115431308019103791536/posts"><img alt="Google Plus" src="./test_files/icon_sm_googleplus.png"></a></td>
      <td><a target="_blank" onclick="_gaq.push([_trackEvent, Footer, social, PIN]);" href="http://www.pinterest.com/ariahealth/"><img alt="Pinterest" src="./test_files/icon_sm_pinterest.png"></a></td>
      <td><a target="_blank" onclick="_gaq.push([_trackEvent, Footer, social, YAH]);" href="http://www.yourariahealth.org/"><img alt="YourAriaHealth" src="./test_files/icon_sm_yourariahealth.jpg"></a></td>
    </tr>
    </tbody>
  </table>
  <ul>
    <li><a href="https://www.ariahealth.org/">Home</a></li>
    <li><a href="https://www.ariahealth.org/about-aria">About Us</a></li>
    <li><a href="https://www.ariahealth.org/about-aria/connect-with-aria">Connect with Us</a></li>
    <li><a href="https://www.ariahealth.org/about-aria/connect-with-aria/media-center">Media Center</a></li>
    <li><a href="https://www.ariahealth.org/contact-us">Contact Us</a></li>
    <li><a href="https://www.ariahealth.org/Programs-and-Services">Programs &amp; Services</a></li>
    <li><a href="https://www.ariahealth.org/for-patients-guests">For Patients &amp; Visitors</a></li>
    <li><a href="https://www.ariahealth.org/wellness-programs">Classes &amp; Events</a></li>
    <li><a href="https://www.ariahealth.org/careers-education">Careers&nbsp;&amp;&nbsp;Education</a></li>
    <li><a href="https://iresponse.ariahealth.org/iresponse">iResponse</a></li>
    <li><a href="https://www.ariahealth.org/er-express">ER Check-in</a></li>
    <li><a href="https://www.ariahealth.org/about-aria/ways-of-giving">Ways of Giving</a></li>
    <li><a href="https://www.ariahealth.org/site-map">Site Map</a></li>
  </ul>
  <div class="holder">
    <p>
      <strong class="logo2">The joint Commission</strong> 
      <strong class="num">1-877-808-2742</strong>
      <strong class="copy">©2016 Jefferson Health – Northeast</strong>
    </p>
    <img src="./test_files/JointComm.png" style="width:207px; height:auto;" alt="image description">
  </div>
  <p>The Web site for Jefferson Health – Northeast, its contents and programs, is provided for informational and educational purposes only and is not intended as medical advice 
     nor is it intended to create any physician-patient relationship. Please remember that this information should not substitute for a visit or a consultation with a health care 
     provider. The views or opinions expressed in the resources provided do not necessarily reflect those of Jefferson Health – Northeast or their staffs. By using this Web site, 
     you accept these terms of use. Please read our 
    <a href="https://www.ariahealth.org/contact-us/privacy-statement">privacy statement</a> and our 
    <a target="_blank" href="https://www.ariahealth.org/assets/base/2016/HIPAA/HIPAA_ebrochure.pdf">HIPAA Information</a>.
  </p>
</div>