  <div class="visual">
    <div id="gallery" class="gallery">
      <div id="flashContainer">
        <div class="frame">
          <ul style="margin-left: 0px;">
            <li style="display: block;">
              <a href="http://hospitals.jefferson.edu/news/2018/01/jefferson-health-and-magee-rehabilitation-combine/" target="_blank">
                <img alt="It&#39;s official.  Jefferson Health and Magee Rehabilitation combine." width="100%" src="./../test_files/Magee_Announcement.jpg">
              </a>
            </li> 
          </ul>
        </div>
        <!--<a class="btn-prev" href="#">prev</a> <a class="btn-next" href="#">next</a>-->
      </div>
    </div>
    
    <div class="quick-links">
      <strong class="contact-num">1-877-808-2742</strong>
      <p class="titlecontainer">&nbsp;</p>
      <ul>
        <li class="link-find"><a mat-button (click)="onFindDoctor()">Find a Doctor</a></li>
        <li class="link-make"><a href="https://www.ariahealth.org/contact-us/make-an-appointment">Make an Appointment</a></li>
        <li class="link-maps"><a href="https://www.ariahealth.org/about-aria/campus-locations-and-outpatient-sites">Our Locations</a></li>
        <li class="link-job"><a href="https://recruit.jefferson.edu/">Careers</a></li>
        <li class="link-erexpress"><a target="_blank" href="https://www.ariahealth.org/er-express">Make a&nbsp;Reservation</a></li>
        <li class="link-billpay"><a target="_blank" href="https://billpay.ariahealth.org/">Pay My Bill</a></li>
        <li class="link-donation"><a target="_blank" href="https://w3.jefferson.edu/giving/aria.html">Give Now</a></li>
      </ul>
    </div>
    <!--<div class="mobile-link"><a href="/mobile"><img alt="Aria Health Mobile" src="assets/base/2010/images/mobile_banner.jpg" /></a></div>-->
  </div>


<div id="main">
  <div class="column-2">
    <div class="feature001"> 
      <div class="home-feature safety">
        <div class="image">
          <a href="https://www.ariahealth.org/er-express"><img alt="Online Check-In" src="./../test_files/online-checkin.jpg"></a>
        </div>
        <div class="info">
          <h2>Online Check-In</h2>
          <p>&nbsp;</p>
          <h3><em>Reserve your place in line for Emergency Department, Urgent Care, and FastCare locations.<br><br>Click to Schedule</em></h3>
          <p>&nbsp;</p>
          <div>
            <a class="fancy-button outline" href="https://www.ariahealth.org/er-express">Schedule</a>
          </div>
        </div>
      </div>
      <div class="home-feature allmed">
        <div class="info">
          <h2>Urgent Care</h2>
          <p></p>
          <img alt="" align="left" height="150px" src="./../test_files/UrgentCarePic.png">
          <p>Two convenient locations<br>to serve you.</p>
          <p style="padding-bottom: 28px">&nbsp;</p>
          <div>
            <a class="fancy-button alt" href="https://www.ariahealth.org/urgent-care">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="featureholder001">
      <div class="feature002wrapper">
        <div class="feature002">
          <div id="feature002_tabs">
            <div class="feature002_container">
              <span id="feature002_tab1" class="feature002_active feature002_tab1">
                <a onclick="openTab(1);" href="javascript:;">Latest Posts</a>
              </span> 
              <span id="feature002_tab2" class="feature002_inactive feature002_tab2">
                <a onclick="openTab(2);" href="javascript:;">Events</a>
              </span>
            </div>
          </div>
          <div id="feature002_tabcontent1" class="feature002_tabcontent" style="display: block;">
            <div id="soxparent_89822d38576e4d908294f5b0a7a184b1">
              <form method="post" id="soxhandler_89822d38576e4d908294f5b0a7a184b1"><input type="hidden" id="iCal_89822d38576e4d908294f5b0a7a184b1" name="iCal" value="">
                <input type="hidden" id="ajaxRequestElementId_89822d38576e4d908294f5b0a7a184b1" name="ajaxRequestElementId" value="">
                <input type="hidden" id="currentPage_89822d38576e4d908294f5b0a7a184b1" name="currentPage" value="">
                <input type="hidden" id="currentSortField_89822d38576e4d908294f5b0a7a184b1" name="currentSortField" value="">
                <input type="hidden" id="currentSortDirection_89822d38576e4d908294f5b0a7a184b1" name="currentSortDirection" value="">
                <input type="hidden" id="attributes_xml_89822d38576e4d908294f5b0a7a184b1" name="attributes_xml" value="">
                <input type="hidden" id="atts_89822d38576e4d908294f5b0a7a184b1" name="atts_89822d38576e4d908294f5b0a7a184b1">
                <div update_type="replace" pagetype="sox_handler" ajaxrequestelementid="89822d38576e4d908294f5b0a7a184b1" ajaxrequesttypes_respondto="category--search" attributesxml="[]">
                  <p>
                    <a href="https://www.yourariahealth.org/blog/Thursday-Health-Hack-134" target="_blank">
                      <img alt="" align="left" width="49" height="49" src="./../test_files/HealthHacks-031218A.jpg">
                      <strong> Thursday Health Hack </strong>
                    </a>
                    <strong><br></strong>
                  </p>
                  <p>
                    <a href="https://www.yourariahealth.org/blog/March-is-Colon-Cancer-Awareness-Month" target="_blank">
                      <img alt="" align="left" width="49" height="49" src="./../test_files/Berg-1909.jpg">
                      <strong> March is Colon Cancer Awareness Month </strong>
                    </a>
                    <strong>
                      <br>
                    </strong>
                  </p>
                  <p>
                    <a href="https://www.yourariahealth.org/blog/Colorectal-Cancer-Rates-Spike-in-Younger-Adults-What-You-Need-to-Know-2" target="_blank">
                      <img alt="" align="left" width="49" height="49" src="./../test_files/Berg-1909.jpg">
                      <strong> Colorectal Cancer Rates Spike in Younger Adults... </strong>
                    </a>
                    <strong>
                      <br>
                    </strong>
                  </p>
                </div>
                <input type="hidden" class="value-store" currentpage="1" currentsortfield="DATE" currentsortdirection="DESC" currentpageid="7816">
                <script type="text/javascript" language="javascript">
                  function more_89822d38576e4d908294f5b0a7a184b1(){ 
                    sox_handler_ajax_request_89822d38576e4d908294f5b0a7a184b1('more', 'append', null); 
                  }
                  function sort_89822d38576e4d908294f5b0a7a184b1(newSort){ 
                    /*alert('in sort');*/ 
                    sox_handler_ajax_request_89822d38576e4d908294f5b0a7a184b1('sort', 'replace', " new_sort='" + newSort + "'"); 
                  }
                  function sox_handler_ajax_request_89822d38576e4d908294f5b0a7a184b1(getType, response_update_type, additionGetAttributes){
                    if ((additionGetAttributes == null) || (additionGetAttributes == "")){ 
                      additionGetAttributes = ""; 
                    }
                    var valueStore = $('*[ajaxRequestElementId="89822d38576e4d908294f5b0a7a184b1"] ~ .value-store');
                    var currentPage = valueStore.attr('currentPage');
                    var currentSort = valueStore.attr('currentSortField');
                    var currentSortDirection = valueStore.attr('currentSortDirection');
                    var pageTypes = valueStore.attr('pageTypes');
                    var pageid = valueStore.attr('currentpageid');
                    var xml = "<get><sox_handler get_type='" + getType + "' response_update_type='" + response_update_type + "' current_page='" + currentPage + "' currentpageid ='" 
                      + pageid + "' current_sort='" + currentSort + "' current_sort_direction='" + currentSortDirection + "'" + additionGetAttributes + " /></get>";
                    ajaxReq(xml,null,null,"89822d38576e4d908294f5b0a7a184b1");
                  }
                  function update_current_page_89822d38576e4d908294f5b0a7a184b1(page){
                    //alert('in update current page = ' + page);
                    var valueStore = $('*[ajaxRequestElementId="89822d38576e4d908294f5b0a7a184b1"] ~ .value-store');
                    valueStore.attr('currentPage', page);
                    //alert('currentPage = ' + valueStore.attr('currentPage'));
                  }
                  function update_current_sort_field_89822d38576e4d908294f5b0a7a184b1(sort_field){
                    //alert('in update current sort field = ' + sort_field);
                    var valueStore = $('*[ajaxRequestElementId="89822d38576e4d908294f5b0a7a184b1"] ~ .value-store');
                    valueStore.attr('currentSortField', sort_field);
                    //alert('currentSortField = ' + valueStore.attr('currentSortField'));
                  }
                  function update_current_sort_direction_89822d38576e4d908294f5b0a7a184b1(sort_direction){
                    //alert('in update current sort direction = ' + sort_direction);
                    var valueStore = $('*[ajaxRequestElementId="89822d38576e4d908294f5b0a7a184b1"] ~ .value-store');
                    valueStore.attr('currentSortDirection', sort_direction);
                    //alert('currentSortDirection = ' + valueStore.attr('currentSortDirection'));
                  }
                  function rss_feed_89822d38576e4d908294f5b0a7a184b1(){ 
                    sox_handler_ajax_request_89822d38576e4d908294f5b0a7a184b1('rss', 'na', null); 
                  }
                  function ical_feed_89822d38576e4d908294f5b0a7a184b1(){ 	
                    var valueStore = $('*[ajaxRequestElementId="89822d38576e4d908294f5b0a7a184b1"] ~ .value-store');
                    $('#iCal_89822d38576e4d908294f5b0a7a184b1').attr('value', 'true');     
                    $('#ajaxRequestElementId_89822d38576e4d908294f5b0a7a184b1').attr('value', '89822d38576e4d908294f5b0a7a184b1');     
                    $('#currentPage_89822d38576e4d908294f5b0a7a184b1').attr('value', valueStore.attr('currentPage'));     
                    $('#currentSortField_89822d38576e4d908294f5b0a7a184b1').attr('value', valueStore.attr('currentSortField'));     
                    $('#currentSortDirection_89822d38576e4d908294f5b0a7a184b1').attr('value', valueStore.attr('currentSortDirection'));    
                    $('#attributes_xml_89822d38576e4d908294f5b0a7a184b1').attr('value', $('*[ajaxRequestElementId="89822d38576e4d908294f5b0a7a184b1"]').attr('attributesXml'));     
                    $('#soxhandler_89822d38576e4d908294f5b0a7a184b1').submit(); 
                  }
                </script>
              </form>
            </div>
          </div>
          <div id="feature002_tabcontent2" class="feature002_tabcontent" style="display: none;">
            <div id="soxparent_a5c748a8c0c140929b015a629b127028">
              <form method="post" id="soxhandler_a5c748a8c0c140929b015a629b127028">
                <input type="hidden" id="iCal_a5c748a8c0c140929b015a629b127028" name="iCal" value="">
                <input type="hidden" id="ajaxRequestElementId_a5c748a8c0c140929b015a629b127028" name="ajaxRequestElementId" value="">
                <input type="hidden" id="currentPage_a5c748a8c0c140929b015a629b127028" name="currentPage" value="">
                <input type="hidden" id="currentSortField_a5c748a8c0c140929b015a629b127028" name="currentSortField" value="">
                <input type="hidden" id="currentSortDirection_a5c748a8c0c140929b015a629b127028" name="currentSortDirection" value="">
                <input type="hidden" id="attributes_xml_a5c748a8c0c140929b015a629b127028" name="attributes_xml" value="">
                <input type="hidden" id="atts_a5c748a8c0c140929b015a629b127028" name="atts_a5c748a8c0c140929b015a629b127028">
                <div update_type="replace" pagetype="sox_handler" ajaxrequestelementid="a5c748a8c0c140929b015a629b127028" ajaxrequesttypes_respondto="category--search" attributesxml="[]"></div>
                <input type="hidden" class="value-store" currentpage="1" currentsortfield="DATE" currentsortdirection="ASC" currentpageid="7815">
                <script type="text/javascript" language="javascript">
                  function more_a5c748a8c0c140929b015a629b127028(){ 
                    sox_handler_ajax_request_a5c748a8c0c140929b015a629b127028('more', 'append', null); 
                  }
                  function sort_a5c748a8c0c140929b015a629b127028(newSort){
                    /*alert('in sort');*/ 
                    sox_handler_ajax_request_a5c748a8c0c140929b015a629b127028('sort', 'replace', " new_sort='" + newSort + "'"); 
                  }
                  function sox_handler_ajax_request_a5c748a8c0c140929b015a629b127028(getType, response_update_type, additionGetAttributes){
                    if ((additionGetAttributes == null) || (additionGetAttributes == "")){ 
                      additionGetAttributes = ""; 
                    }
                    var valueStore = $('*[ajaxRequestElementId="a5c748a8c0c140929b015a629b127028"] ~ .value-store');
                    var currentPage = valueStore.attr('currentPage');
                    var currentSort = valueStore.attr('currentSortField');
                    var currentSortDirection = valueStore.attr('currentSortDirection');
                    var pageTypes = valueStore.attr('pageTypes');
                    var pageid = valueStore.attr('currentpageid');
                    var xml = "<get><sox_handler get_type='" + getType + "' response_update_type='" + response_update_type + "' current_page='" + currentPage + "' currentpageid ='" 
                      + pageid + "' current_sort='" + currentSort + "' current_sort_direction='" + currentSortDirection + "'" + additionGetAttributes + " /></get>";
                    ajaxReq(xml,null,null,"a5c748a8c0c140929b015a629b127028");
                  }
                  function update_current_page_a5c748a8c0c140929b015a629b127028(page){
                    //alert('in update current page = ' + page);
                    var valueStore = $('*[ajaxRequestElementId="a5c748a8c0c140929b015a629b127028"] ~ .value-store');
                    valueStore.attr('currentPage', page);
                    //alert('currentPage = ' + valueStore.attr('currentPage'));
                  }
                  function update_current_sort_field_a5c748a8c0c140929b015a629b127028(sort_field){
                    //alert('in update current sort field = ' + sort_field);
                    var valueStore = $('*[ajaxRequestElementId="a5c748a8c0c140929b015a629b127028"] ~ .value-store');
                    valueStore.attr('currentSortField', sort_field);
                    //alert('currentSortField = ' + valueStore.attr('currentSortField'));
                  }
                  function update_current_sort_direction_a5c748a8c0c140929b015a629b127028(sort_direction){
                    //alert('in update current sort direction = ' + sort_direction);
                    var valueStore = $('*[ajaxRequestElementId="a5c748a8c0c140929b015a629b127028"] ~ .value-store');
                    valueStore.attr('currentSortDirection', sort_direction);
                    //alert('currentSortDirection = ' + valueStore.attr('currentSortDirection'));
                  }
                  function rss_feed_a5c748a8c0c140929b015a629b127028(){ 
                    sox_handler_ajax_request_a5c748a8c0c140929b015a629b127028('rss', 'na', null); 
                  }
                  function ical_feed_a5c748a8c0c140929b015a629b127028(){ 	
                    var valueStore = $('*[ajaxRequestElementId="a5c748a8c0c140929b015a629b127028"] ~ .value-store');
                    $('#iCal_a5c748a8c0c140929b015a629b127028').attr('value', 'true');     
                    $('#ajaxRequestElementId_a5c748a8c0c140929b015a629b127028').attr('value', 'a5c748a8c0c140929b015a629b127028');     
                    $('#currentPage_a5c748a8c0c140929b015a629b127028').attr('value', valueStore.attr('currentPage'));     
                    $('#currentSortField_a5c748a8c0c140929b015a629b127028').attr('value', valueStore.attr('currentSortField'));     
                    $('#currentSortDirection_a5c748a8c0c140929b015a629b127028').attr('value', valueStore.attr('currentSortDirection'));     
                    $('#attributes_xml_a5c748a8c0c140929b015a629b127028').attr('value', $('*[ajaxRequestElementId="a5c748a8c0c140929b015a629b127028"]').attr('attributesXml'));     
                    $('#soxhandler_a5c748a8c0c140929b015a629b127028').submit(); 
                  }
                </script>
              </form>
            </div>
          </div>
        </div>
        <div class="feature002bottom"></div>
      </div>
      <div class="feature003"> 
        <p>
          <a href="http://hospitals.jefferson.edu/news/2017/08/us-news-and-world-report-2017-2018.html" target="_blank">
            <img border="0" alt="Invenia ABUS" src="./../test_files/aria-sidebar-ads-3.jpg"> 
          </a>
        </p>
        <p><img alt="" src="./../test_files/lineg.jpg"></p>
        <p>
          <a href="https://www.ariahealth.org/programs-and-services/centers-of-excellence/women-s-health/invenia-abus-automated-breast-ultrasound-system">
            <img border="0" alt="Automated Breast Ultrasound System" src="./../test_files/ultrasound-banner.jpg"> 
          </a>
        </p>
        <p><img alt="" src="./../test_files/lineg.jpg"></p>
        <p>
          <a target="_blank" href="http://www.aria3bortho.org/">
            <img border="0" name="img_efe0ec771c494616addfa3c5543f29b0" alt="World-Class Orthopaedic Care" width="265" align="absMiddle" height="120" src="./../test_files/aria-3b-button.jpg"> 
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="navigation">
  <ul id="nav">
    <li class=" hasdrop">
      <a href="https://www.ariahealth.org/Programs-and-Services" class=" hasdroplink">Programs &amp; Services</a>
      <div class="drop">
        <ul>
          <li><a href="https://www.ariahealth.org/robotics"><span>Robotic Surgery</span></a></li>
          <li><a href="https://www.ariahealth.org/programs-and-services/centers-of-excellence/cancer-center"><span>Cancer Center</span></a></li>
          <li><a href="https://www.ariahealth.org/programs-and-services/centers-of-excellence/heart-care"><span>Heart Care</span></a></li>
          <li><a href="https://www.ariahealth.org/programs-and-services/centers-of-excellence/orthopedic-care"><span>Orthopedic Care</span></a></li>
          <li><a href="https://www.ariahealth.org/programs-and-services/centers-of-excellence/women-s-health"><span>Women's Health</span></a></li>
          <li><a href="https://www.ariahealth.org/programs-and-services/centers-of-excellence/see-all"><span>See All</span></a></li>
        </ul>
      </div>
    </li>
    <li class=" hasdrop">
      <a href="https://www.ariahealth.org/for-patients-guests" class=" hasdroplink">Patients &amp; Guests</a>
      <div class="drop">
        <ul>
          <li><a href="https://www.ariahealth.org/for-patients-guests/quality-of-care"><span>Quality of Care</span></a></li>
          <li><a href="https://www.ariahealth.org/for-patients-guests/aria-s-health-source-call-center"><span>Aria's Health Source Call Center</span></a></li>
          <li class=""><a href="https://www.ariahealth.org/for-patients-guests/find-a-doctor"><span>Find a Doctor</span></a></li>
          <li><a href="https://www.ariahealth.org/for-patients-guests/make-an-appointment"><span>Make an Appointment</span></a></li>
          <li><a href="https://www.ariahealth.org/for-patients-guests/patient-family-advisory-council"><span>Patient &amp; Family&nbsp;Advisory Council</span></a></li>
          <li><a href="https://www.ariahealth.org/for-patients-guests/locations-directions"><span>Locations &amp; Directions</span></a></li>
          <li><a href="https://www.ariahealth.org/for-patients-guests/clinical-trials"><span>Clinical Trials</span></a></li>
          <li><a href="https://www.ariahealth.org/for-patients-guests/charity-care-and-financial-assistance"><span>Charity Care and Financial Assistance</span></a></li>
          <li><a href="https://www.ariahealth.org/for-patients-guests/contact-us"><span>Contact Us</span></a></li>
        </ul>
      </div>
    </li>     
    <li class=" hasdrop">
      <a href="https://www.ariahealth.org/wellness-programs" class=" hasdroplink">Classes &amp; Events</a>
      <div class="drop">
        <ul>
          <li><a href="https://www.ariahealth.org/wellness-programs/health-assessments"><span>Health Assessments</span></a></li>
          <li class=""><a href="https://www.ariahealth.org/wellness-programs/nutrition"><span>Nutrition</span></a></li>
          <li><a href="https://www.ariahealth.org/wellness-programs/fitness"><span>Fitness</span></a></li>
          <li><a href="https://www.ariahealth.org/wellness-programs/programs-special-events"><span>Programs &amp; Special Events</span></a></li>
          <li><a href="https://www.ariahealth.org/wellness-programs/support-groups"><span>Support Groups</span></a></li>
        </ul>
      </div>
    </li>     
    <li class=" hasdrop">
      <a href="https://www.ariahealth.org/careers-education" class=" hasdroplink">Careers &amp; Education</a>
      <div class="drop">
        <ul>
          <li><a href="https://www.ariahealth.org/careers-education/employment"><span>Employment</span></a></li>
          <li><a href="https://www.ariahealth.org/careers-education/school-of-nursing"><span>School of Nursing</span></a></li>
          <li><a href="https://www.ariahealth.org/careers-education/graduate-medical-education"><span>Graduate Medical Education</span></a></li>
          <li><a href="https://www.ariahealth.org/careers-education/medical-student-programs"><span>Medical Student Programs</span></a></li>
          <li><a href="https://www.ariahealth.org/careers-education/nursing-at-aria"><span>Nursing at Aria</span></a></li>
        </ul>
      </div>
    </li>
    <!-- TemplateEndEditable -->     
    <li class=" hasdrop">
      <a href="https://www.ariahealth.org/community-health/community-health-dashboard" class=" hasdroplink">Community Health</a> 
      <div class="drop">
        <ul>
          <li><a href="https://www.ariahealth.org/community-health/national-doctors-day"><span>National Doctors' Day</span></a></li>
          <li><a href="https://www.ariahealth.org/community-health/community-health-dashboard"><span>Community Health Dashboard</span></a></li>
        </ul>
      </div>
    </li>
  </ul>  
</div>
